.title {
    color: #91842d;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-shadow: 6px 6px 9px black;
}

.user {
    color: #c77b1e;
    font-size: 30px;
}

.bar {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 7px gray;
}

body {
    background-color: #f0e9dd;
}

h1 {
    color: #5e4b0f;

}

h3 {
    color: #5e4b0f;
}
