{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Active Listings:</h1>
    <ul>
        {% for catalog in catalogs %}
        <table cellpadding="20">
            <tr>
                <td>
                    <img src="{{ catalog.img_url }}" alt="" width="200" height="200">
                </td>
                <td>
                    <a href="/item/{{ catalog.id }}" class="box">
                        <h1>{{ catalog.name }}</h1>
                    </a>
                    <h5>Description: {{ catalog.description}}</h5>
                    <h5>Starting Price:
                    <h3>&nbsp;&nbsp;$ {{ catalog.starting_bid }}</h3></h5>
                </td>
                <hr>
            </tr>
        </table>
        {% endfor %}
    </ul>
{% endblock %}
