{% extends "auctions/layout.html" %}

{% block title %}
    New Listing
{% endblock %}

{% block body %}
    <h1>Create a new Listing </h1>
    <form action="/listing/new" method ="post">
        {% csrf_token %}
        <label for="">Title <br>
            <input type ="text" name="title"></label>
        <br>
        <label for="">Description <br>
            <textarea name="description" id="" cols="25" rows="5"></textarea></label>
        <br>
        <label for="">Url <br>
            <input type="text" name="img_url"></label>
        <br>
        <label for="">Category <br>
            <input type="text" name="category"</label>
        <br>
        <label for="">Starting Bid <br>
            <input type="text" name="starting_bid"</label>
        <br>
        <input type="submit">
    </form>
{% endblock %}
